<head>
  <link rel="stylesheet" type="text/css" href="css/data.css">
</head>
<h1>Top {{this.numOfUsers}} user contributions in {{this.repo}}</h1>
<table class="table">
    <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Commits</th>
    </tr>
  </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td scope="col">{{@key}}</td>
            <td scope="col" id="commit">{{this}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>